<table class="table table-striped">
    <thead>
        <tr class="bg-dark text-white">
            <th scope="col">Title<i class="fa fa-sort" (click)="updateFilter('title')"></i></th>
            <th scope="col">Priority<i class="fa fa-sort" (click)="updateFilter('priority')"></i></th>
            <th scope="col">Reporter<i class="fa fa-sort" (click)="updateFilter('reporter')"></i></th>
            <th scope="col">Date Created<i class="fa fa-sort" (click)="updateFilter('createdAt')"></i></th>
            <th scope="col">Status<i class="fa fa-sort" (click)="updateFilter('status')"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bug of bugs">
            <td>{{bug.title}}</td>
            <td>{{bug.priority}}</td>
            <td>{{bug.reporter}}</td>
            <td>{{bug.createdAt.substring(0,10)}}</td>
            <td>{{bug.status}}</td>
        </tr>
    </tbody>
</table>