<section class="container flex text-center">
    <h1>Bug Reporting System</h1>
    <h2>List Of Bugs</h2>
</section>

<button class="btn btn-info mb-2" [routerLink]="['reportbug']">Report <i class="fa fa-plus"></i></button>

<table class="table table-striped">
    <thead>
        <tr class="bg-dark text-white">
            <th scope="col" (click)="updateFilter(filters.title)">Title<i [hidden]="filterBy!='title'" class="fa fa-sort-up" [ngClass]="{'fa-sort-up': ascending, 'fa-sort-down': !ascending}"></i></th>
            <th scope="col" (click)="updateFilter(filters.priority)">Priority<i [hidden]="filterBy!='priority'" class="fa fa-sort" [ngClass]="{'fa-sort-up': ascending, 'fa-sort-down': !ascending}"></i></th>
            <th scope="col" (click)="updateFilter(filters.reporter)">Reporter<i [hidden]="filterBy!='reporter'" class="fa fa-sort" [ngClass]="{'fa-sort-up': ascending, 'fa-sort-down': !ascending}"></i></th>
            <th scope="col" (click)="updateFilter(filters.createdAt)">Date Created<i [hidden]="filterBy!='createdAt'" class="fa fa-sort" [ngClass]="{'fa-sort-up': ascending, 'fa-sort-down': !ascending}"></i></th>
            <th scope="col" (click)="updateFilter(filters.status)">Status<i [hidden]="filterBy!='status'" class="fa fa-sort" [ngClass]="{'fa-sort-up': ascending, 'fa-sort-down': !ascending}"></i></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody [hidden]="tableLoading">
        <tr *ngFor="let bug of bugs">
            <td>{{bug.title}}</td>
            <td>{{bug.priority}}</td>
            <td>{{bug.reporter}}</td>
            <td>{{bug.createdAt | date:'short'}}</td>
            <td>{{bug.status}}</td>
            <td>
                <button class="btn btn-outline-warning" [routerLink]="['reportbug',bug.id]">Edit</button>
            </td>
            <td>
                <button class="btn btn-outline-danger" (click)="deleteRowBug(bug.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"(click)="previousPage()"><a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>

        <li class="page-item" (click)="nextPage()"><a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
    </ul>
    {{currentPage}}
</nav>
<div class="d-flex justify-content-center">
    <i class="loading-icon" [hidden]="!tableLoading"></i>
</div>