table {
    box-shadow: 0 0 9px 4px #d0cbcb;
    thead {
        th {
            cursor: pointer;
            min-width: 145px !important;
            &:hover {
                color: #519db0;
            }
            .fa {
                margin-left: 10px;
            }
        }
    }
    td {
        max-width: 300px;
        word-wrap: break-word !important;
    }
}