<div class="text-center">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-bg">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <h1>4<i class="fa fa-question-circle fa-spin"></i>4 </h1>
            <h4>Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?</h4>
            <button class="btn btn-primary" [routerLink]="['']"><span>Get me outta here!</span></button>
        </div>
    </div>
</div>