<form>
    <div class="form-group">
        <label for="">
            Title
        </label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Description</label>
        <textarea name="" id="" rows="3" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="">Priority</label>
        <select name="" id="" class="form-control">
            <option value="1">Minor</option>
            <option value="2">Major</option>
            <option value="3">Critical</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">Reporter</label>
        <select name="" id="" class="form-control">
            <option value="1">QA</option>
            <option value="2">PO</option>
            <option value="3">DEV</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">Status</label>
        <select name="" id="" class="form-control">
            <option value="1">Ready for testing</option>
            <option value="2">Done</option>
            <option value="3">Rejected</option>
        </select>
    </div>
    <button class="btn btn-outline-info" type="submit">Submit</button>
</form>